In [1]:
from exp.nb_packages import *

### Grab the data

In [3]:
path = Path('data')

In [4]:
train = pd.read_csv(path/'train.csv')

In [5]:
test_df = pd.read_csv(path/'test.csv')

In [6]:
IMG_PATH = path/'images'

In [7]:
train.head()

  image_id  healthy  multiple_diseases  rust  scab
0  Train_0        0                  0     0     1
1  Train_1        0                  1     0     0
2  Train_2        1                  0     0     0
3  Train_3        0                  0     1     0
4  Train_4        1                  0     0     0

In [8]:
test_df.head()

  image_id
0   Test_0
1   Test_1
2   Test_2
3   Test_3
4   Test_4

In [9]:
LABEL_COLS = ['healthy', 'multiple_diseases', 'rust', 'scab']

In [10]:
def get_label(row):
    for k, v in row[LABEL_COLS].items():
        if v == 1:
            return k

In [11]:
train['label'] = train.apply(get_label, axis=1)

In [12]:
train.head(100)

    image_id  healthy  multiple_diseases  rust  scab              label
0    Train_0        0                  0     0     1               scab
1    Train_1        0                  1     0     0  multiple_diseases
2    Train_2        1                  0     0     0            healthy
3    Train_3        0                  0     1     0               rust
4    Train_4        1                  0     0     0            healthy
..       ...      ...                ...   ...   ...                ...
95  Train_95        0                  1     0     0  multiple_diseases
96  Train_96        0                  0     1     0               rust
97  Train_97        0                  0     1     0               rust
98  Train_98        0                  0     1     0               rust
99  Train_99        1                  0     0     0            healthy

[100 rows x 6 columns]

### Stratification

In [13]:
BS = 32
IMG_SIZE = 512

In [14]:
SEED = 420
seed_everything(SEED)

In [15]:
N_FOLDS = 5
train['fold'] = -1

strat_kfold = MultilabelStratifiedKFold(n_splits=N_FOLDS, random_state=SEED, shuffle=True)
for i, (_, test_index) in enumerate(strat_kfold.split(train.image_id.values, train.iloc[:,1:].values)):
    train.iloc[test_index, -1] = i
    
train['fold'] = train['fold'].astype('int')

In [16]:
train.to_csv('train_with_strat_folds.csv', index=False)

### Sample Creation for quick experiments

In [2]:
df = pd.read_csv('train_with_strat_folds.csv')